body {
	text-align: right;
	direction: rtl;
	font-family: Samim
}

/*new change 2020*/
.nav-side-menu li .fa-arrow-down {
  float: left;
  padding: 10px;
  margin: 0 0 0 10px;
}
.menu-title {
	padding-right: 10px
}

.richText .richText-editor {
    border-right: #FFFFFF solid 2px;
    border-left: none;
    font-family: Samim
}

.richText .richText-editor:focus {
    border-right: #3498db solid 2px;
    border-left: none;
}